#!/usr/bin/make -f

PKG=$(shell dh_listpackages)
VERSION=65
TARGET=$(shell /usr/bin/perl -MConfig -e 'print $Config{vendorlib}, "\n"')

%:
	dh $@

override_dh_auto_install:
	dh_auto_install
	cp -r ./ensembl ./debian/$(PKG)/$(TARGET)/ensembl-$(VERSION)
